h1{
    border: 3px solid;
    width: 10%;
    background-color: aqua;
}

section{
    border: 3px solid;
    width: 626px;
    background-color: antiquewhite;
}

section > img{
    border: 3px solid;
    height: 250 px;
    width: 200px;
    display: inline-block;
    align-items: first baseline;
}

section > p{
    border: 3px solid;
    width: 60%;
    display: inline-block;
    background-color: beige;
    height: 250 px;
}

section > ol{
    border: 3px solid;
    background-color: chartreuse;
    width: 30%;
    display: inline-block;
}

section > ul{
    border: 3px solid;
    background-color: coral;
    width: 30%;
    display: inline-block;
}

* {
    background-color: darksalmon;
}
